.about {
  padding-top: 84px;
  padding-bottom: 84px;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include desktop {
    padding-top: 169px;
    padding-bottom: 121px;
  }

  .container {
    @include tablet {
      display: flex;
      gap: 30px;
    }
  }
}

.pic-list {
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: flex;
    margin-right: 64px;
  }
}

.pic-list__item {
  @include tablet {
    width: 330px;
    height: 235px;
  }

  @include desktop {
    width: 270px;
    height: 430px;
  }
}

.pic-list__item + .pic-list__item {
  @media screen and (max-width: 1199px) {
    margin-top: 30px;
  }

  @include desktop {
    margin-left: 30px;
  }
}

// .pic-list__item {
//   & + & {
//     margin-left: 30px;
//   }
// }

.about-content__top-text {
  margin-bottom: var(--typical-margin);
}

.about-content__title {
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: var(--typical-margin);

  @include desktop {
    font-size: 42px;
    line-height: 1.17;
  }
}

.about-content__bottom-text {
  margin-bottom: var(--typical-margin);
  color: #555555;
}

.about-content__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;

  @include desktop {
    padding-right: 20px;
  }
}

.about-content__link {
  color: var(--second-btn-color);
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}
