.contacts {
  padding-top: 84px;
  padding-bottom: 84px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
  }

  @include desktop {
    padding-left: 100px;
    padding-top: 130px;
    padding-bottom: 130px;
    width: calc(50% - 15px);
  }
}

.contacts__title {
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.contacts__container {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-between;
  }
}

.contacts__address {
  font-style: normal;
  margin-bottom: 70px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 0;
  }
}

.contacts__item + .contacts__item {
  margin-top: var(--typical-margin);
}

.contacts__icon {
  margin-top: 5px;
  margin-right: 16px;
}

.contacts__link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;

  display: flex;
  align-items: center;
}

.contacts__link--location {
  align-items: flex-start;
}

.contacts__work-time {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 0 auto;
  }
}

.contacts__subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: var(--typical-margin);
  display: flex;
  align-items: center;
}

.contacts__subtitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
  flex-shrink: 0;
}

.contacts__time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
