.contact-wrap {
  background-color: #191c26;
  max-width: 1280px;
  margin: 0 auto;
}

.contact-wrap .container {
  padding-left: 0;
  padding-right: 0;

  @include desktop {
    display: flex;
  }
}
