.footer {
  padding: 44px 15px;
  display: flex;
  flex-direction: column-reverse;

  @include mobile {
    padding-left: 31px;
    padding-right: 31px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  @include tablet {
    padding: 56px 39px;
  }

  @include desktop {
    padding-left: 55px;
    padding-right: 55px;
  }
}

.footer__copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer__list {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 35px;
  }

  &::before {
    content: " ";
    background-color: currentColor;
    margin-right: 20px;
    flex-shrink: 0;
    width: 60px;
    height: 1px;

    @include mobile {
      margin-right: 40px;
    }
  }
}

.footer__item + .footer__item {
  margin-left: 20px;

  @include mobile {
    margin-left: 40px;
  }
}

.footer__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;

  transition: color var(--time-animation) var(--function-animation);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
