.prices {
  background-color: #111319;
  background-image: url(../img/prices-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 84px;
  padding-bottom: 84px;
  margin: 0 auto;

  @include retina {
    background-image: url(../img/prices-mob@2x.png);
  }

  @include tablet {
    background-image: url(../img/prices-tab.png);
    @include retina {
      background-image: url(../img/prices-tab@2x.png);
    }
  }
  @include desktop {
    background-image: url(../img/prices-des.png);
    @include retina {
      background-image: url(../img/prices-des@2x.png);
    }
  }

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include desktop {
    padding-top: 130px;
    padding-bottom: 130px;
    max-width: 1280px;
  }
}
.prices__top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}

.prices__title {
  @media screen and (max-width: 479px) {
    font-size: 36px;
  }

  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices__wrap {
  padding: 10px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 30px 40px;
  }

  @media screen and (max-width: 1199px) {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }

  @include desktop {
    display: flex;
  }
}

.prices__list {
  flex-grow: 1;
  @include desktop {
    padding: 30px 40px;
  }
}

.prices__list-light {
  @include desktop {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

.prices__list-dark {
  @include desktop {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
  .prices__item {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.prices__item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9da4bd;

  @include mobile {
    font-size: 14px;
  }

  @include tablet {
    font-size: 18px;
    line-height: 1.67;
  }

  &:first-child {
    order: -1;
  }
}

.prices__item {
  margin-bottom: $typical-margin;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &::before {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    margin-left: 6px;
    margin-right: 6px;
  }

  @include desktop {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.prices__link {
  color: var(--main-btn-color);
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
  margin-top: 50px;
  margin-left: calc(50%);
  transform: translateX(-50%);
  text-align: center;
}
